body {
    background: #222;
    color: #ffb7b7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif, sans-serif;
    text-align: center;
    margin-top: 50px;
    
}

#counter {
    font-size: 60px;
    margin: 20px;
}

h1 {
    font-size: 60px;
    color:#f59c9c;
}

button {
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#clickImg {
    width: 200px;
    cursor: pointer;
    user-select: none;
}

#clickImg:active {
    transform: scale(0.95);
}

#clickArea {
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #f0c27b; /* normal */
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex; /* flexbox für zentrierten Inhalt */
    justify-content: center; /* horizontal zentrieren */
    align-items: center; /* vertikal zentrieren */
}

#clickArea:hover {
    background-color: #f7b733; /* hover */
}

#clickArea:active {
    background-color: #d35400; /* clicked */
}
