body {
    background: #222;
    color: #ffb7b7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#counter {
    font-size: 60px;
    margin: 20px;
}

button {
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#clickImg {
    width: 200px;
    cursor: pointer;
    user-select: none;
}

#clickImg:active {
    transform: scale(0.95);
}
