body {
    background: #222;
    color: #ff9292;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif, sans-serif;
    text-align: center;
    
    
}

#background {
    background-image: url("div1.png");
    
    background-position: center;
    background-size: 900px;      
    background-repeat: no-repeat; 
    min-height: 100vh;      /* Originalgröße behalten */
    
}

#counter {
    font-size: 60px;
    margin: 0px;
}

h1 {
    font-size: 60px;
    color:#f59c9c;
    margin-top: 52px;
    text-align: unset;
    margin-right: 280px;
    font-family:'Courier New', Courier, monospace;
}

button {
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    width: 300px;
    height: 150px;
    cursor: pointer;
    background-image: url("Upgrades.png");
    background-size: contain;      /* Bild vollständig anzeigen */
    background-position: center;   /* schön mittig */
    background-repeat: no-repeat;  /* nicht wiederholen */
    background-color: transparent; /* sonst schimmert was durch */
    
}
#clickImg {
    width: 300px;
    cursor: pointer;
    user-select: none;
}

#clickImg:active {
    transform: scale(0.95);
}

#clickArea {
    
    width: 300px;
    height: 300px;
    background-color: #f0c27b; /* normal */
   
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex; /* flexbox für zentrierten Inhalt */
    justify-content: right; /* horizontal zentrieren */
    align-items: right; /* vertikal zentrieren */
}

#clickArea:hover {
    background-color: #f7b733; /* hover */
}

#clickArea:active {
    background-color: #d35400; /* clicked */
}
#layout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* Abstand zwischen Buttons & Bild */
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}